@model PaymentAccept

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5  d-flex justify-content-center">
    <form asp-action="PaymentAccept" method="post">
        <h1>يرجى ادخال بطاقة الدفع لاعتمادها</h1>
        <div class="row d-flex">
            <div class="col">
                <label for="PaymentAccept"></label>
                <input type="text" asp-for="@Model.Payment" class="form-control"/>
                
            </div>
        </div>
        <!--used to show must fill the field message-->
        <span class="text-danger" asp-validation-for="@Model.Payment"></span>
        <div class="row m-5">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary">حفظ</button>
            </div>
        </div>
    </form>
</div>